*{
    padding: 0;
    margin: 0;
}

body {
    max-width: 480px;
    @include flex;
  }
  
img {
    max-width: 100%;
  }

  main {
      max-width: 98%;
      box-shadow: 0 0 15px black;
      font-family:'Roboto', sans-serif;
      background-color: rgb(238, 235, 235);
  }

  .logo-titre{
  max-width: 200px;
  padding-top: 10px;
}

.Localisation{
  text-align: center;
  background-color: #d3d3d3;
  padding: 5px 0 5px 0;
  
}

.Localisation i::before{
  padding-right: 5px;
}

.Reservation{
  text-align: center;
  background-color: rgb(238, 235, 235);
}

.Button-violet{
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  @include border-button;
}

.Reservation ,h2 ,p ,button{
  padding: 10px 0 10px 0;
}

.Fonctionnement{
  text-align: center;
}

.Fonctionnement li{
  padding: 8px 0 8px 0;
}

.Button-grey{
  box-shadow: 0 0 5px black;
  width: 250px;
  background-color: rgb(238, 235, 235);
  @include border-button;
}

.Fonctionnement i::before{
  padding-right: 10px;
}

.Restaurants img{
  border-radius: 15% 15% 0 0;
  max-height: 200px;
  width: 100%;
}
 
.Restaurants figure{
  padding-bottom: 30px;
  background-color: rgb(238, 235, 235) ;
  max-width: 90%;
  padding: 10px 20px 10px 20px;
}

.Restaurants figcaption{
  background-color: white;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;

}

.Restaurants figcaption i {
  float: right;
  padding-right: 5px;
  
}


footer{
  width: 98%;
  background-color: rgb(56, 52, 52);
  padding: 25px 0 10px 20px;
  color: white;
}

footer i::before{
  padding-right: 10px;
}

.Span-underline{
  text-decoration: underline $color-tertiaire;
}
.Span-prix{
  float: right;
  padding-right: 10px;
}

article{
  background-color:  rgb(238, 235, 235);
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  position:  relative;
  top: -50px;
}

.Button-white{
  width: 90%;
  text-align: left;
  background-color: white;
  @include border-button;
  display: block;
  margin: auto;
}

article li{
  padding-bottom: 10px;
}

.New{
  position: relative;
}

.New::after{
  content: 'Nouveau';
  padding: 5px;
  background-color: $color-tertiaire;
  color: rgb(14, 146, 43);
  position: absolute;
  top: 30px;
  right: 40px;
}

.H-shrikhand{
  font-family: 'Shrikhand' , cursive;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.Commandes button{
  width: 150px;
}

.Commandes{
  @include flex;
  padding: 20px 0 30px 0;
}
ol {
  padding: 20px 0 20px 0;
}

a{
  text-decoration: none;
  color: black;
}





