$color-primaire : #9356DC;
$color-secondaire : #FF79DA;
$color-tertiaire : #99E2D0;

@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin border-button{
    border: none;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
}

@keyframes Menu-anim {
    0%{
        transform: scaleY(0);
        opacity: .1;
    }

    100%{
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes Anim-valid{
    0%{
        opacity: 0;
        width: 0px;

        
    }
    100%{
        opacity: 1;
        width: 50px;
    }
}