@keyframes Menu-anim {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes Anim-valid {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 50px;
  }
}
@keyframes Charge {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(720deg);
    opacity: 1;
  }
}
@keyframes Anim-loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Anim-heart {
  100% {
    color: red;
    font-weight: 600;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

main {
  max-width: 99%;
  box-shadow: 0 0 15px black;
  font-family: "Roboto", sans-serif;
  background-color: #eeebeb;
}

ol {
  list-style-type: none;
}

.logo-titre {
  max-width: 150px;
  padding-top: 10px;
  margin: auto;
}

.Localisation {
  text-align: center;
  background-color: #d3d3d3;
  padding: 5px 0 5px 0;
}

.Localisation i::before {
  padding-right: 5px;
}

.Reservation {
  text-align: center;
  background-color: #eeebeb;
}

.Button-violet {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  height: 30px;
  width: 180px;
  margin-top: 10px;
}

.Reservation, h2 {
  padding: 10px 0 10px 0;
}

.Fonctionnement {
  text-align: center;
}

.Fonctionnement li {
  padding: 8px 0 8px 0;
}

.Button-grey {
  box-shadow: 0 0 5px black;
  width: 250px;
  height: 30px;
  background-color: #eeebeb;
  border: none;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  position: relative;
  opacity: 1;
}
.Button-grey:hover {
  box-shadow: 0 0 10px black;
  opacity: 0.8;
}

.Span-number {
  position: absolute;
  left: -7px;
  top: 10px;
  border-radius: 50%;
  background-color: #9356DC;
  width: 15px;
  height: 15px;
  text-align: center;
  color: white;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Fonctionnement i::before {
  padding-right: 10px;
}

.Restaurants img {
  border-radius: 15% 15% 0 0;
  max-height: 200px;
  width: 100%;
}

.Restaurants figure {
  padding-bottom: 30px;
  background-color: #eeebeb;
  max-width: 90%;
  padding: 10px 20px 10px 20px;
}

.Restaurants figcaption {
  background-color: white;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.Restaurants figcaption i {
  float: right;
  padding-right: 5px;
}
.Restaurants figcaption i:hover {
  animation: Anim-heart 3s ease-in-out forwards;
}

footer {
  width: 98%;
  background-color: #383434;
  padding: 25px 0 10px 2%;
  color: white;
  display: flex;
  flex-direction: column;
}

footer i::before {
  padding-right: 10px;
}

.Span-underline {
  text-decoration: underline #99E2D0;
}

article {
  background-color: #eeebeb;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  position: relative;
  top: -50px;
}

.Button-white {
  width: 90%;
  text-align: left;
  background-color: white;
  border: none;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font: 400 13.3333px Arial;
  margin-bottom: 10px;
  align-items: center;
  overflow: hidden;
}
.Button-white:hover .Valid-menu {
  animation: Anim-valid 1000ms 250ms ease-in-out forwards;
}
.Button-white:hover .Valid-menu i {
  transform: rotate(0deg);
}

.Valid-menu i {
  transform: rotate(-360deg);
  transition: transform 1000ms 250ms ease-in-out;
}

article li {
  padding-bottom: 10px;
}

.New {
  position: relative;
}

.New::after {
  content: "Nouveau";
  padding: 5px;
  background-color: #99E2D0;
  color: #0e922b;
  position: absolute;
  top: 30px;
  right: 40px;
}

.H-shrikhand {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.Commandes button {
  width: 150px;
}

.Commandes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}

.Menu ol {
  padding: 20px 0 20px 0;
  animation: Menu-anim 3000ms 500ms;
  transform-origin: 50% top;
}

a {
  text-decoration: none;
  color: black;
}

.Main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Button-white p {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  justify-content: space-between;
}

.Ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h2 i {
  font-weight: unset;
}

.Valid-menu {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  height: 50px;
  opacity: 0;
  background-color: #5bc25b;
}

.Nom-plat {
  flex-grow: 1;
  padding: 0 10px;
}

footer p a {
  color: white;
}

.Loader {
  margin: auto;
  position: absolute;
  bottom: 300px;
  border: 16px solid grey;
  width: 150px;
  height: 150px;
  border-top-color: green;
  border-bottom-color: red;
  border-radius: 50%;
  opacity: 0;
  animation: Charge 3s backwards;
}

.Chargement {
  opacity: 0;
  animation: Anim-loader 2000ms 3000ms forwards;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 100%;
  }

  main {
    width: 90%;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .Restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Restaurants img {
    width: 145px;
    height: 100px;
  }

  .Img-restaurant img {
    height: 400px;
    width: 691px;
  }
}
@media screen and (min-width: 1024px) {
  .Restaurants img {
    width: 200px;
    height: 150px;
  }

  .Img-restaurant img {
    height: 400px;
    width: 1296px;
  }
}

/*# sourceMappingURL=style.css.map */
