* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

main {
  max-width: 98%;
  box-shadow: 0 0 15px black;
  font-family: "Roboto", sans-serif;
  background-color: #eeebeb;
}

.logo-titre {
  max-width: 150px;
  padding-top: 10px;
  margin: auto;
}

.Localisation {
  text-align: center;
  background-color: #d3d3d3;
  padding: 5px 0 5px 0;
}

.Localisation i::before {
  padding-right: 5px;
}

.Reservation {
  text-align: center;
  background-color: #eeebeb;
}

.Button-violet {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.Reservation, h2, p, button {
  padding: 10px 0 10px 0;
}

.Fonctionnement {
  text-align: center;
}

.Fonctionnement li {
  padding: 8px 0 8px 0;
}

.Button-grey {
  box-shadow: 0 0 5px black;
  width: 250px;
  background-color: #eeebeb;
  border: none;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  position: relative;
}

.Span-number {
  position: absolute;
  left: -7px;
  top: 10px;
  border-radius: 50%;
  background-color: #9356DC;
  width: 15px;
  height: 15px;
  text-align: center;
  color: white;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Fonctionnement i::before {
  padding-right: 10px;
}

.Restaurants img {
  border-radius: 15% 15% 0 0;
  max-height: 200px;
  width: 100%;
}

.Restaurants figure {
  padding-bottom: 30px;
  background-color: #eeebeb;
  max-width: 90%;
  padding: 10px 20px 10px 20px;
}

.Restaurants figcaption {
  background-color: white;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.Restaurants figcaption i {
  float: right;
  padding-right: 5px;
}

footer {
  width: 98%;
  background-color: #383434;
  padding: 25px 0 10px 2%;
  color: white;
}

footer i::before {
  padding-right: 10px;
}

.Span-underline {
  text-decoration: underline #99E2D0;
}

article {
  background-color: #eeebeb;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  position: relative;
  top: -50px;
}

.Button-white {
  width: 90%;
  text-align: left;
  background-color: white;
  border: none;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  display: block;
  margin: auto;
  font: 400 13.3333px Arial;
  margin-bottom: 10px;
}

.Span-prix {
  float: right;
  padding-right: 5px;
}

article li {
  padding-bottom: 10px;
}

.New {
  position: relative;
}

.New::after {
  content: "Nouveau";
  padding: 5px;
  background-color: #99E2D0;
  color: #0e922b;
  position: absolute;
  top: 30px;
  right: 40px;
}

.H-shrikhand {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.Commandes button {
  width: 150px;
}

.Commandes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}

ol {
  padding: 20px 0 20px 0;
}

a {
  text-decoration: none;
  color: black;
}

.Main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Button-white p {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  color: black;
  justify-content: space-between;
}

.Ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Button-white h4 {
  padding-top: 10px;
}

h2 i {
  font-weight: unset;
}

/*# sourceMappingURL=style.css.map */
